{% extends 'reviewBoard/base.html' %}
{% load static %}

{% block content %}

<div style="margin-left:20px; margin-top:20px;">
    <h1>한양대 에리카 맛집 리뷰</h1>


    {% if restaurants %}

    <!-- Restaurant -->
    {% for res in restaurants %}
    <hr>
    <h3><strong>{{ res.name }} | {{ res.category }}</strong>></h3>    
    
    <br>

        <!-- Review -->
        {% for rev in res.review_set.all %}

            <a href={% url 'reviewBoard:review-detail' rev.id %}>{{ rev.title }} | {{rev.updated_date}}</a> 
            
            <br>
            <br>

            <!-- review for문 -->
            {% endfor %}

        <!-- restaurants for문 -->
        {% endfor %}

    {% endif %}

</div>
{% endblock %}
