*.pyc
*~
*t.py
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
/ignore_files
.vscode
/workspace_django.code-workspaceest.py
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
/ignore_files
.vscode
/workspace_django.code-workspace
