{% extends 'reviewBoard/base.html' %}
{% load static %}

{% block content %}

<div class="container pt-5">

        <h1 class="text-center mb-5">결정 장애를 위한 메뉴 선택, Pick Meal!</h1>

        <h3 class="text-center">오늘 뭐 먹지?</h3>
        <br>
        <div class="row justify-content-center">
            <input class="btn-info btn" type="button" value="돌려~ 돌려~ 돌림판!" style="float: left;" id='spin'>
        </div>
        <div class="row justify-content-center">
            <canvas id="canvas" width="500" height="500"></canvas>
        </div>    

        <br>
        <br>

        <hr>

        <h3 class="pt-5 text-center">땡기는 게 없다구요? 이 식당은 어때요? :)</h3>
        <br>

        <div class="py-3 text-center alert alert-info" role="alert">
            <h4>오늘의 맛집 : <strong> {{restaurant.name}} ( {{restaurant.category}} )</strong></h4>
            <h4>평균 평점 : <strong>{{score_avg.score__avg}}</strong></h4>
            <h4>주소 : <strong>{{restaurant.location}}</strong></h4>
        </div>
        
        {% if restaurant.review_set.all %}
        <h4 class="py-3 text-center">리뷰 목록</h4>

        <hr class="mb-5" style="width:200px;"> 

        {% for rev in restaurant.review_set.all %}

        <div class="mt-3 container d-flex justify-content-start" >
            {% if rev.photo %}
                    <a href={% url 'reviewBoard:review-detail' rev.id %}></a>
                        <img src="{{ rev.photo.url }}" alt="reviewPhoto" class="img-thumbnail rounded review-thumb">
                    </a>
                    <br>
                    {% endif %}
                        <div class="ml-3">
                          <a href={% url 'reviewBoard:review-detail' rev.id %} 
                             style="color:gray; text-decoration: none;">
                              <h2>{{ rev.title }} </h2>
                            </a>
                            
                            <p>{{rev.updated_date | date}}</p>
                            <p> 평점 : {{ rev.score }}</p>

                            <p> {{rev.review | truncatechars:100 }}</p>
                            <a href="{% url 'reviewBoard:review-detail' rev.id %} "> 자세히 보기 </a>
            </div>
        </div>

        {% endfor %}
        {% endif %}

        <br>
        <br>

</div>




{% endblock %}

